@mixin header {
  font-family: Brother-1816;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
@mixin paragraph {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
body {
  margin: 10%;
  .firstRow {
    .firstRow__secondColumn {
      text-align: center;

      h2 {
        @include header;
      }
      p {
        @include paragraph();
      }
    }
  }

  .secondRow {
    .secondRow__firstColumn {
      background-image: url(/images/mask.svg);
      background-repeat: no-repeat;
      background-size: cover;

      h2 {
        @include header;
      }
      p {
        @include paragraph();
      }
    }
    .secondRow__secondColumn {
      img {
        transform: translateX(-10%);
      }
    }
  }
}
@media (max-width: 1200px) {
  body {
    margin: 10%;

    .secondRow {
      .secondRow__firstColumn {
        background-image: url(/images/mask.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10%;
      }
      .secondRow__secondColumn {
        img {
          transform: translateX(0%);
        }
      }
    }
  }
}
